html {
	height: 100%;
}
body {
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: "Microsoft YaHei",微软雅黑;
	background: #f6f6f6;
}
.left-wrap {
	position: relative;
	width: 200px;
	height: 100%;
	margin-right: 10px;
	float: left;
	background: #191818;
	color: #666666;
}
.mid-wrap {
	background: #ffffff;
	color: #666666;
	width: 400px;
	height: 100%;
	float: left;
	position: relative;
}
.right-wrap {
	float: right;
	width: 100%;
	height: 100%;
	margin-left: -610px;
	position: relative;
}
.right-content {
	display: none;
	height: 100%;
	background: #ffffff;
	margin-left: 620px
}

.title {
	height: 20%;
}
.title h1 {
	position: absolute;
	top: 10%;
	margin: 0 20px;
	font-size: 3em;
	text-align: center;
}
.book-list {
	height: 40%;
	font-size: 1.3em;
	text-align: left;
	overflow: auto;
}
.book-item {
	margin-bottom: 15px;
	padding: 5px 20px;
	cursor: pointer;
}
.book-item:hover{
	background: #ccc;
	border-radius: 5px;
}
.book-item-on{
	background: #666;
	color: #fff;
}

/*bnt:删除笔记本按钮*/
.del-book {
	position: absolute;
	bottom: 10%;
	right: 50px;
	display: block;
	margin: 30px auto 0;
	height: 40px;
	width: 40px;
	border-radius: 5px;
	background: #666666 url(../img/del.png) no-repeat center;
}
.new-note {
	font-size: 0.5em;
	font-weight: normal;
	background: #da3610;
	color: #fff;
	padding: 5px 10px;
	border-radius: 3px;
	margin-left: 20px;
	cursor: pointer;
}
.note-list ul {
	padding: 0 10px;
}
.note-item {
	height: 60px;
	border-radius: 5px;
	padding: 8px;
	margin-bottom: 10px;
	line-height: 1.3em;
	border: 2px solid #fff;
	background: #f6f6f6;
	cursor: pointer;
}
.note-item-on {
	border: 2px solid #66cccc;
}
.note-item h3 {
	font-size: 1.2em;
	margin: 3px 0;
}
.note-item p {
	table-layout:fixed;
	word-break:break-all; 
	overflow:hidden; 
	font-size: 1.2em;
	margin: 3px 0;
}
.right-content .title {
	background: #da3610;
}

.del-note {
	width: 50px;
	height: 50px;
	background: url(../img/cha.png) no-repeat center;
	position: absolute;
	top: 30px;
	right: 30px;
}
.note-content {
  box-sizing:border-box;
  -moz-box-sizing:border-box; /* Firefox */
  -webkit-box-sizing:border-box; /* Safari */
  display: block;
  padding: 20px;
  height: 70%;
  width:100%;
  font-size: 1.3em;
  box-shadow: none;
  border-radius: none;
}
/**
* Author Nik
* 2015-7-26
*/
/*bnt: 新建笔记本按钮*/
.newbook_wraper{
	position: relative;
	margin: 30px auto;
	height: 40px;
}
.newbutton_wraper{
	position: absolute;
	z-index: 1000;
	width: 100%;
	height: 42px;
	background-color: #191818;
}
.new-book {
	display: block;
	width: 40px;
	height: 40px;
	margin: 0 auto;
	border-radius: 5px;
	background: #666666 url(../img/add.png) no-repeat center;
	background-size:40px 40px;
}
.insert_book{
	position: absolute;
	z-index: 0;
	width: 100%;
	height: 40px;
}
.insert_book input{
	width: 70%;
	height: 37px;
}
.insert_book button{
	width: 25%;
	height: 100%;
}
.article_mask{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 199998;
	background-color: #000;
	opacity:.5;
}
.article input{
	position: absolute;
	top: 20%;
	left: 15%;
	display: block;
	z-index: 199999;
	width: 70%;
	height: 1.5em;
	font-size: 2em;
}
.article textarea{
	position: absolute;
	top: 30%;
	left: 15%;
	display: block;
	z-index: 199999;
	width: 70%;
	height: 50%;
	opacity:1;
	font-size: 1.7em;
}
.article_wraper{
	display: none;
}
.article_buttonwraper{
	position: absolute;
	bottom: 10%;
	left: 15%;
	z-index: 199999;
	width: 70%;
}
.article_button{
	float: left;
	width: 70px;
	height: 25px;
	padding: 10px 10px;
	margin: 0 200px;
	text-align: center;
	font-size: 1.5em;
	font-weight: normal;
	background: #da3610;
	color: #fff; 
	border-radius: 3px;
	cursor: pointer;
}
.note-title {
	width: 20%;
	margin-right: 100px;
	color:#fdfdfd;
	text-align: left;
	line-height: 1.2em;
	cursor: text;
}
.note-title input{
	margin: .67em 0;
	font-size: 1em;
}
.note-list{
	height: 60%;
	overflow: auto;
}